ClaimClient/Service References/ClaimServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClaimsSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClaimsSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Citizen">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassAgency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PassNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassSeries" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tpin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Citizen" nillable="true" type="tns:Citizen" />
  <xs:complexType name="ClaimId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="value" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClaimId" nillable="true" type="tns:ClaimId" />
  <xs:complexType name="OperationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrCode" type="tns:ErrorCode" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResult" nillable="true" type="tns:OperationResult" />
  <xs:simpleType name="ErrorCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InputDataFormat" />
      <xs:enumeration value="Internal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ErrorCode" nillable="true" type="tns:ErrorCode" />
  <xs:complexType name="ClaimLifeCycle">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="value" nillable="true" type="tns:ArrayOfClaimStatus" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClaimLifeCycle" nillable="true" type="tns:ClaimLifeCycle" />
  <xs:complexType name="ArrayOfClaimStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClaimStatus" nillable="true" type="tns:ClaimStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClaimStatus" nillable="true" type="tns:ArrayOfClaimStatus" />
  <xs:complexType name="ClaimStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="StatusDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaimStatus" nillable="true" type="tns:ClaimStatus" />
  <xs:complexType name="ClaimList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="value" nillable="true" type="tns:ArrayOfClaimInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClaimList" nillable="true" type="tns:ClaimList" />
  <xs:complexType name="ArrayOfClaimInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClaimInfo" nillable="true" type="tns:ClaimInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClaimInfo" nillable="true" type="tns:ArrayOfClaimInfo" />
  <xs:complexType name="ClaimInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CitizenName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimId" type="xs:int" />
      <xs:element minOccurs="0" name="StatusDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaimInfo" nillable="true" type="tns:ClaimInfo" />
</xs:schema>